*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-color: #fafafa;
	color: black;
	font-family: 'Roboto', sans-serif;
}

a
{
	text-decoration: none;
}

/* =================================================== HEADER ========================================================= */

header
{
	display: flex;
	align-items: center;
	background-color: #212121;
	height: 10vh;
	color: #fafafa;
}

#header-content
{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70vw;
	margin: auto;	
}

header a
{
	color: #fafafa;

}

#logo
{
	font-size: 35px;
}

ul
{
	list-style: none;
	display: flex;
}

li
{
	font-size: 18px;
	padding: 1em 2em;
}

li:hover
{
	background-color: #424242;
}
