*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body
{
	background-color: #fafafa;
	color: black;
	font-family: 'Roboto', sans-serif;
}

a
{
	text-decoration: none;
}

.error-style
{
	padding: 1em 0;
	color: red;
	text-align: center;
	width: 90vw;
}
