#main-title
{
	display: flex;
	justify-content: center;
	padding: 1em 0;
	font-size: clamp(60px, 10vw, 100px);
}

.details {
    display: flex;
	justify-content: center;
	width: 90vw;
	margin: auto;
    margin-bottom: 2em;
}

.order-items {
    display: flex;
	flex-direction: column;
	flex: 0.65;
}

.data-heading {
	padding: 0.5em 0;
	font-weight: lighter;
	font-size: 30px;
}

.data {
    padding-bottom: 1em;
}

.border {
	border-bottom: 1px solid #e0e0e0;
}

#items {
	border-bottom: 1px solid #e0e0e0;
}

.item {
	display: flex;
	align-items: center;
	text-align: center;
	padding: 0.5em 0;
	border-bottom: 1px solid #e0e0e0;
}

.item-img {
    flex: 0.1;
}

.item img
{
	width: 5vw;
}

.item-name {
    flex: 0.6;
}

.item-rate {
    flex: 0.3;
}

.summary {
    display: flex;
	flex-direction: column;
	justify-content: flex-start;
	margin-left: 1em;
	flex: 0.35;
}

#summary-heading {
	text-align: left;
	font-weight: lighter;
	font-size: 30px;
}

table {
	border: 1px solid #e0e0e0;
	border-radius: 2px;
	padding: 1em;
	margin-bottom: 1em;
}

th, td {
    padding: 1em 0;
}

.left {
    float: left;
    width: 50%;
    font-size: 18px;
}

.right {
    float: right;
    width: 50%;
    font-size: 18px;
}

button
{
	padding: 1em 0;
    width: 100%;
}

/* =================================================== MEDIA QUERY =================================================== */

@media only screen and (max-width: 800px) {
    .details {
		flex-direction: column;
		width: 85vw;
    }

    .order-items {
        flex: 1;
	}
	
	.item img
	{
		width: 10vw;
	}

    .summary {
		margin-top: 1em;
		margin-left: 0;
        flex: 1;
    }
}